
    nginx:
        image: szula.aws.tshdev.io/{{ clientName|lower }}/{{ projectName|lower }}/nginx_app:latest
        ports:
            - "${APP_WEB_PORT:-80}:80"

    php:
        image: szula.aws.tshdev.io/{{ clientName|lower }}/{{ projectName|lower }}/php_app:latest