
    nginx:
        build:
            context: .
            target: nginx
            dockerfile: ./docker/Dockerfile
        image: szula.aws.tshdev.io/{{ clientName|lower }}/{{ projectName|lower }}/nginx_app:latest
        volumes:
            - .:/opt/app/public
        ports:
            - "${APP_WEB_PORT:-80}:80"

    php:
        build:
            context: .
            target: builder
            dockerfile: ./docker/Dockerfile
        image: szula.aws.tshdev.io/{{ clientName|lower }}/{{ projectName|lower }}/php_app:latest
        volumes:
            - .:/opt/app
            - ./docker/php-fpm/php.ini:/usr/local/etc/php/conf.d/99-overrides.ini