
    {{host}}:
        image: postgres:9.4.25
        environment:
            POSTGRES_USER: ${POSTGRES_USER:-{{user}}}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-{{password}}}
            POSTGRES_DB: ${POSTGRES_DB:-{{databaseName}}}